h2 {
  margin: auto;
}
.game_page_header {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.flex_footer {
  margin: 20px;
}
.menu_button,
.game_rules {
  width: 50px;
  height: 25px;
  margin: 10px;
}

.bet_pot_container {
  display: flex;
  flex-direction: row;
}
.test_flex_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.bank {
  flex: 1;
  display: flex;
  margin: 10px 10px 10px 30px;
}
.play_buttons_span {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.bet_select {
  width: 50px;
  margin: 0 20px;
}
.start_button,
.stay_button {
  width: 100px;
  height: 25px;
  margin: auto;
}

.card {
  width: 100px;
  height: 150px;
  border: 0.5px solid #bbbbbb;
  box-shadow: 1px 1px 2px #7a7a7a;
  background-image: url(../Images/cardback.png);
  background-size: contain;
  margin: 10px;
  border-radius: 6px;
}

/* .front_of_card {
    width:100px;
    height: 150px;
    border: .5px solid #bbbbbb;
    box-shadow: 1px 1px 2px #7a7a7a;
    background: #F9F7F2;
    margin: 10px;
    border-radius: 6px;
} */

.game_table {
  display: flex;
  flex-direction: column;
  min-height: 440px;
}

.dealer_cards {
  display: flex;
  margin: auto;
}
.player_cards {
  display: flex;
  margin: auto;
}

.hit_button {
  width: 100px;
  height: 25px;
  margin: auto;
}

.new_deal_button {
  width: 100px;
  height: 25px;
  margin: auto;
}

.card_face img {
  height: 25px;
  width: 25px;
  margin: 12px;
}
.card_face {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100px;
  height: 150px;
}
.card_back {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 0.5px solid #bbbbbb;
  box-shadow: 1px 1px 2px #7a7a7a;
  background-image: url(../Images/cardback.png);
  background-size: 100px 150px;
  border-radius: 6px;
  width: 100px;
  height: 150px;
}
.suit_top {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.face_value {
  margin: 2px;
  font-size: 2.5em;
  flex: 1;
}
.suit_bottom {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.hidden_endgame_message {
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 200px;
  margin-top: -100px;
  margin-left: -250px;
  font-size: 80px;
  font-weight: 700;
  color: #000000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  position: fixed;
  z-index: 10;
}
#hidden_endgame_button {
  max-height: 60px;
  max-width: 150px;
  color:#fff;
  background:#000000;
  font-size: 23px;
  margin: auto;
}

